.form-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
button{
    background-color: var(--color-primary);
    color: var(--color-font);
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
}

.save{
    background-color: greenyellow;
    color: black;

}
.cancel{
    background-color: red;
    color: black;

}